.popular-cities {
  max-width: 75%;
  margin: 2rem auto;
  padding: 0 1rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  font-weight: bold;
  color: #000000;
}

.cities-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 50px;
  gap: 10px 35px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.city-item {
  color: #000000;
  font-weight: normal;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.city-item:hover {
  background-color: #a7bd70;
}

.city-item a {
  color: #000000;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}


@media (max-width: 600px) {
  .cities-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .cities-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
