.App {
  background-color:white;
  height: 100%;
  width: 100%;
}
.item-box {
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.7rem;
  user-select: none;
  font-weight: normal;
  color: black;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
  cursor: pointer;
}

.item-box:hover {
  filter: brightness(130%);
}
