.App {
  background-color: white;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.item-box {
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.7rem;
  user-select: none;
  font-weight: normal;
  color: black;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
  cursor: pointer;
}

.item-box:hover {
  filter: brightness(130%);
}

.quick-dropdown {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  overflow: hidden;
}

.dropdown-scroll-area {
  max-height: 250px;
  overflow-y: auto;
}

.quick-dropdown div {
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.1rem;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
}

.quick-dropdown div:hover {
  background-color: #ffffff;
  color: #a7bd70;
}

.dropdown-search-wrapper {
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 2px solid #a7bd70;
}

.dropdown-input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.dropdown-input:focus {
  border-color: #a7bd70;
}

.geo-confirmation-overlay {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: auto;
}

@media (max-width: 800px) {
  .geo-confirmation-overlay {
    top: 120px;
  }
}

.geo-confirmation-bubble {
  background: white;
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border: 1px solid #a7bd70;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geo-buttons {
  display: flex !important;
  justify-content: center !important;
  gap: 15px !important;
  margin-top: 20px !important;
}

.btn-confirm,
.btn-change {
  padding: 10px 20px !important;
  border-radius: 25px !important;
  cursor: pointer !important;
  font-weight: bold !important;
  font-size: 1rem !important;
}

.btn-confirm {
  background-color: #a7bd70 !important;
  color: white !important;
  border: none !important;
}

.btn-change {
  background-color: #f0f0f0 !important;
  color: #555 !important;
  border: 1px solid #ccc !important;
}

@media (max-width: 768px) {
  .item-box {
    max-height: 50px !important;
    min-height: 50px !important;
    padding: 0 20px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem !important;
    border-radius: 25px !important;
    margin: 0 auto;
  }

  .MuiGrid-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .MuiGrid-container {
    margin-top: 6rem !important;
  }
}